<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxj.system.mapper.ExcelTextTempMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wxj.system.entity.ExcelTextTemp">
        <id column="id" property="id" />
        <result column="text" property="text" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, text AS text, create_time AS createTime
    </sql>
    <select id="selectBeforeDate" resultType="cn.wxj.system.entity.ExcelTextTemp">
        SELECT
        <include refid="Base_Column_List"/>
        FROM excel_text_temp
        WHERE 1 = 1
        <if test="now != null and now != ''">
            AND create_time &lt; #{now}
        </if>
    </select>
</mapper>
