<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxj.system.mapper.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wxj.system.entity.Menu">
        <id column="id" property="id" />
        <result column="pid" property="pid" />
        <result column="menu_name" property="menuName" />
        <result column="menu_icon" property="menuIcon" />
        <result column="menu_url" property="menuUrl" />
        <result column="menu_index" property="menuIndex" />
        <result column="menu_type" property="menuType" />
        <result column="remark" property="remark" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, pid AS pid, menu_name AS menuName, menu_icon AS menuIcon, menu_url AS menuUrl, menu_index AS menuIndex, menu_type AS menuType, remark AS remark
    </sql>
    <select id="selectListByPage" resultType="cn.wxj.system.entity.Menu" parameterType="com.baomidou.mybatisplus.plugins.Page">
        SELECT
          <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE 1 = 1
        <if test="menuType != null">
            AND menu_type = #{menuType}
        </if>
        ORDER BY id DESC
    </select>
    <select id="selectMenuList" resultType="cn.wxj.system.entity.Menu">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE 1 = 1
        <if test="menuType != null">
            AND menu_type = #{menuType}
        </if>
        ORDER BY id DESC
    </select>
    <select id="selectListByPid" resultType="cn.wxj.system.common.MenuNode">
        SELECT
            m.id AS id,
            m.menu_name AS menuName,
            m.menu_icon AS menuIcon,
            m.menu_url AS menuUrl,
            m.menu_type AS menuType,
            m.remark AS remark
        FROM sys_menu AS m
        LEFT JOIN sys_role_menu AS rm ON m.id = rm.menu_id
        WHERE 1 = 1
        <if test="pid != null">
            AND m.pid = #{pid}
        </if>
        <if test="menuType != null">
            AND m.menu_type = #{menuType}
        </if>
        <if test="roleId != null and roleId != ''">
            AND rm.role_id = #{roleId}
        </if>
        ORDER BY m.menu_index ASC
    </select>
    <select id="selectMenuByTypeAndUrl" resultType="cn.wxj.system.entity.Menu">
      SELECT
          <include refid="Base_Column_List"/>
        FROM sys_menu
        WHERE 1 = 1
        <if test="menuType != null and menuType != ''">
            AND menu_type = #{menuType}
        </if>
        <if test="url != null and url != ''">
            AND #{url} LIKE concat('%', menu_url, '%')
        </if>
        limit 1
    </select>
    <select id="selectListHasUrl" resultType="cn.wxj.system.entity.Menu">
        SELECT
            m.id AS id,
            m.menu_name AS menuName,
            m.menu_icon AS menuIcon,
            m.menu_url AS menuUrl,
            m.menu_type AS menuType,
            m.remark AS remark
        FROM sys_menu AS m
        LEFT JOIN sys_role_menu AS rm ON m.id = rm.menu_id
        WHERE m.menu_url IS NOT NULL AND m.menu_url != ''
        <if test="menuType != null">
            AND m.menu_type = #{menuType}
        </if>
        <if test="roleId != null and roleId != ''">
            AND rm.role_id = #{roleId}
        </if>
        ORDER BY m.menu_index ASC
    </select>
    <select id="selectChildren" resultType="cn.wxj.system.entity.Menu">
        SELECT
            m.id AS id,
            m.menu_name AS menuName,
            m.menu_icon AS menuIcon,
            m.menu_url AS menuUrl,
            m.menu_type AS menuType,
            m.remark AS remark
        FROM sys_menu AS m
        LEFT JOIN sys_role_menu AS rm ON m.id = rm.menu_id
        WHERE m.menu_url IS NOT NULL AND m.menu_url != ''
        <if test="menuType != null">
            AND m.menu_type = #{menuType}
        </if>
        <if test="url != null and url != ''">
            AND m.menu_url LIKE concat('%', #{url}, '%')
        </if>
        <if test="roleId != null and roleId != ''">
            AND rm.role_id = #{roleId}
        </if>
        ORDER BY m.menu_index ASC
    </select>

</mapper>
