<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.wxj.system.mapper.RoleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.wxj.system.entity.Role">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id AS id, `name` AS `name`, remark AS remark, create_user_id AS createUserId, create_time AS createTime, update_user_id AS updateUserId, update_time AS updateTime
    </sql>
    <select id="findListByPage" resultType="cn.wxj.system.entity.Role" parameterType="com.baomidou.mybatisplus.plugins.Page">
        SELECT
            <include refid="Base_Column_List"/>
        FROM sys_role
        WHERE id != '1'
        <if test="roleAo.roleName != null and roleAo.roleName != ''">
            AND `name` LIKE concat('%', #{roleAo.roleName}, '%')
        </if>
        ORDER BY create_time DESC
    </select>
    <select id="findList" resultType="cn.wxj.system.entity.Role">
        SELECT
        <include refid="Base_Column_List"/>
        FROM sys_role
        WHERE id != '1'
        <if test="roleAo.roleName != null and roleAo.roleName != ''">
            AND `name` LIKE concat('%', #{roleAo.roleName}, '%')
        </if>
        ORDER BY create_time DESC
    </select>

</mapper>
